@using IydeParfume.Areas.Admin.ViewModels.Navbar
@model List<ListItemViewModel>

<div class="col-lg-12">
    <div class="row justify-content-end">
        <div class="mb-5">
            <a asp-route="admin-subnavbar-list" target="_blank" class="btn btn-secondary">SubNavbars</a>
        </div>
        <div class="">
            <a asp-route="admin-navbar-add" target="_blank" class="btn btn-secondary">Add new Navbar</a>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Navbars</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Order</th>
                            <th>CreatedAt</th>
                            <th>UpdatedAt</th>

                          
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var nav in Model)
                        {
                            <tr>
                                <td>@nav.Name</td>
                                <td>@nav.Order</td>
                                <td>@nav.CreatedAt</td>
                                <td>@nav.UpdatedAt</td>
                                <td class="text-end">
                                    <a asp-route="admin-navbar-update" asp-route-Id="@nav.Id"><i class="las la-pen text-secondary font-16"></i></a>
                                    <form method="POST" asp-route="admin-navbar-delete" asp-route-id="@nav.Id" id="nav-form-@nav.Id"></form>
                                    <button type="submit" form="nav-form-@nav.Id">
                                        <i class="las la-trash-alt text-secondary font-16"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>