@using IydeParfume.Areas.Admin.ViewModels.BlogDisplay
@model BlogDisplayViewModel

<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-route="admin-blog-list">Blogs</a>
                        </li><!--end nav-item-->
                        
                    </ol>
                </div>
                <h4 class="page-title">Plants</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
</div>

<div class="col-lg-12">
    <div class="row justify-content-end">
        <div class="">
            <a asp-route="admin-blogDisplay-add" asp-route-blogId="@Model.BlogId" class="btn btn-secondary">Add new Blog File</a>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Created at</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var blogFile in Model.Files!)
                        {
                            <tr>
                                <td><img src="~/@blogFile.FileUrl" width="20%" /></td>
@*                                @if (blogFile.IsImage == true)
                                {

                                    <td><img src="~/@blogFile.FileUrl" width="20%" /></td>
                                }
                                @if (blogFile.IsVideo ==true)
                                {
                                    <td>

                                        <video width="20%" controls>
                                            <source src="~/@blogFile.FileUrl" type="video/mp4">
                                        </video>
                                    </td>
                                }*@
                                <td>@blogFile.CreatedAt.ToString("dd/MM/yyyy")</td>
                                <td class="text-end">
                                    <a asp-route="admin-blogDisplay-update" asp-route-id="@blogFile.Id"><i class="las la-pen text-secondary font-16"></i></a>
                                    <form method="POST" asp-route="admin-blogDisplay-delete" asp-route-blogId="@Model.BlogId" asp-route-blogFileId="@blogFile.Id" id="book-image-form-@blogFile.Id"></form>
                                    <button type="submit" form="book-image-form-@blogFile.Id">
                                        <i class="las la-trash-alt text-secondary font-16"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>