@using IydeParfume.Areas.Admin.ViewModels.AboutUs
@model List<ListItemViewModel>

<div class="col-lg-12">
    <div class="row justify-content-end">
        <div class="">
            <a asp-route="admin-aboutUs-add" class="btn btn-secondary">Add new about</a>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Blogs</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            @*<th>Image</th>*@
                            <th>Name</th>
                            <th>Description</th>
                            <th>Created at</th>
                          
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var blog in Model)
                        {
                            <tr>
                                <td>@blog.Title</td>
                                <td>@blog.Content</td>
                                <td>@blog.CreatedAt.ToString("dd/MM/yyyy")</td>
                                <td class="text-end">

                                    <form method="POST" asp-route="admin-aboutUs-delete" asp-route-id="@blog.Id" id="about-form-@blog.Id"></form>
                                    <button class="border-0" type="submit" form="about-form-@blog.Id">
                                        <i class="las la-trash-alt text-secondary font-16"></i>
                                    </button>

                                   
                                    <a class="btn btn-primary" asp-route="admin-aboutUsImage-list" asp-route-aboutUsId="@blog.Id">About Us Image List</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>