@using IydeParfume.Areas.Admin.ViewModels.Product
@model UpdateViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Product Update</h4>
            </div>
            <div class="card-body">
                <div class="general-label">
                    <form method="POST" asp-route="admin-product-update" enctype="multipart/form-data">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group  d-flex justify-content-between align-items-center">
                            <div class="col-lg-6">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">
                                <label asp-for="Description"></label>
                                <input asp-for="Description" class="form-control">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center">
                            <div class="col-lg-4">
                                <label asp-for="Price"></label>
                                <input asp-for="Price" class="form-control">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center">
                            <div class="col-lg-4">
                                <label>Categories</label>
                                <select asp-for="CategoryIds" asp-items="@(new SelectList(Model.Catagories, nameof(CatagoryListItemViewModel.Id), nameof(CatagoryListItemViewModel.Title)))" class="form-select"></select>
                                <span asp-validation-for="CategoryIds" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4">
                                <label>Season</label>
                                <select asp-for="SeasonIds" asp-items="@(new SelectList(Model.Seasons, nameof(SeasonListItemViewModel.Id), nameof(SeasonListItemViewModel.Title)))" class="form-select"></select>
                                <span asp-validation-for="SeasonIds" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4">
                                <label>Usage Time</label>
                                <select asp-for="UsageTimeIds" asp-items="@(new SelectList(Model.UsageTimes, nameof(UsageTimeListItemViewModel.Id), nameof(UsageTimeListItemViewModel.Title)))" class="form-select"></select>
                                <span asp-validation-for="UsageTimeIds" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center">
                            <div class="col-lg-4">
                                <label>Group</label>
                                <select asp-for="GroupIds" asp-items="@(new SelectList(Model.Groups, nameof(GroupListItemViewModel.Id), nameof(GroupListItemViewModel.Title)))" class="form-select"></select>
                                <span asp-validation-for="GroupIds" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4">
                                <label>Brand</label>
                                <select asp-for="BrandIds" asp-items="@(new SelectList(Model.Brands, nameof(BrandListItemViewModel.Id), nameof(BrandListItemViewModel.Title)))" class="form-select"></select>
                                <span asp-validation-for="BrandIds" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4">
                                <label>Size</label>
                                <select asp-for="SizeIds" asp-items="@(new SelectList(Model.Sizes, nameof(SizeListItemViewModel.Id), nameof(SizeListItemViewModel.PrSize)))" class="form-select"></select>
                                <span asp-validation-for="SizeIds" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="MainImage"></label>
                            <input asp-for="MainImage" class="form-control">
                            <span asp-validation-for="MainImage" class="text-danger"></span>
                            <div class="d-flex">
                                @foreach (var item in Model.MainImgUrls!)
                                {
                                    <div style="position:relative;margin-left:30px">
                                        <img style="width:100px;height:100px;margin-top:15px" src="~/@item.ImageUrl" />
                                        <input asp-for="ProductImgIds" value="@item.Id" type="hidden">
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="AllImages"></label>
                            <input asp-for="AllImages" class="form-control">
                            <span asp-validation-for="AllImages" class="text-danger"></span>
                            <div class="d-flex">
                                @foreach (var item in Model.ImagesUrl!)
                                {
                                    <div style="position:relative;margin-left:30px">
                                        <img style="width:100px;height:100px;margin-top:15px" src="~/@item.ImageUrl" />
                                        <input asp-for="ProductImgIds" value="@item.Id" type="hidden">
                                        <span style="position:absolute; cursor:pointer" class="text-danger deleteItemImage "><i class="fa-solid fa-trash"></i></span>
                                    </div>
                                }
                            </div>


                        </div>


                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div>
</div>